# shellcheck shell=bash

# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Watch nix submodules
  watch_dir hosts
  watch_dir infra
  watch_dir modules
  watch_dir secrets
  # Use nix flakes to setup the environment
  use flake . --accept-flake-config --no-pure-eval
fi
